body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
  h2{
font-size:25px 

  }
  .logo{
    margin: 50px;
    display: 50;
    width: 120px;
    opacity: 0;
    border-radius: 30px;
}

  .logo:hover {
    opacity: 1;
    
    padding: 5px;
    transition: 1s ease-out;
  }
  h3{
    font-size:30px;
    text-align:center;
  }
body {
  background: linear-gradient(135deg, #c62828, #ffcc00);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px;
}

/* Просто яскраві кольорові букви */
 h1{
  color: #ffeb3b; /* яскраво-жовтий */
  text-align: center;
  font-size: 40px;
}

h2 {
  color: #ffc107; /* теплий жовто-помаранчевий */
  text-align: center;
  font-size: 30px;
}

p {
  color: #fffde7; /* світлий, але без світіння */
  font-size: 18px;
  line-height: 1.6;
}
 h3{
  color: #ffeb3b; /* яскраво-жовтий */
  text-align: center;
  font-size: 40px;
}
img{ width: 250px;
    
}
.potato{
width: 600px;
height: 350px;
}
.Menu{
  display: block;
  justify-content: space-around ;
}
.Towar{
  display: flex;
}
.logo{
    margin: 50px;
    display: 50;
    width: 120px;
    opacity: 0;
}

  .logo:hover {
    opacity: 1;
    width: 200px;
    height: 200px;
    padding: 5px;
    transition: 1s ease-out;
  }
  .logo-box {
    position: relative;
    width: 200px;
    margin: 50px;
}
.block{
  display: flex;
}
.logo {
    width: 120px;
    opacity: 0;
    transition: 1s ease-out;
    display: block;
}

.logo-box:hover .logo {
    opacity: 1;
    width: 200px;
}
.text {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    padding: 6px;
    font-size: 14px;
    opacity: 0;
    transition: 0.5s ease;
    transition-delay: 1s; 
}

.logo-box:hover .text {
    opacity: 1;
}



/* Ряд-контейнер для карток */
.item {
    display: flex;
    flex-wrap: wrap;       /* Щоб картки переходили на новий рядок */
    gap: 25px;              /* Відстань між картками */
    justify-content: center;/* Центрування всієї групи */
    padding: 40px;
    background-color: #e67e22; 
}


.info {
    background: white;
    width: 250px;          
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
}
.price {
    display: inline-block;
    background: #ffc107;
    color: white;
    padding: 8px 30px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.info h4 {
    margin: 0 0 8px 0;
    font-size: 1.4rem;
    color: #333;
}

.info p {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 20px;
    line-height: 1.4;
}
.price::after {
    content: " грн"; 
}

.price:hover {
    background: #b30005;
}
